---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="px-4 py-12">
    <h1 class="text-3xl font-bold">About Nash</h1>
    <div class="mt-8 pl-6 space-y-8">

      <p class="text-lg text-gray-800">
        Greetings👋 I'm nash. A digital content developer.
      </p>

      <p class="text-lg text-gray-800">
        In 2022, I entered the National Institute of Technology, Suzuka College (NITSC). <br />
        Throughout my school life, I took part in various amazing events such as a <a href="" class="border-gray-200 hover:border-gray-400 border-b-2">school trip to Taiwan</a>
        and a <a href="" class="border-gray-200 hover:border-gray-400 border-b-2">study program to Ohio</a>, and I gained a <a href="" class="border-gray-200 hover:border-gray-400 border-b-2">wide range of skills</a> - way too many to list here.
      </p>

      <p class="text-lg text-gray-800">
        <br />
      </p>

      <p class="text-lg text-gray-800">
        <br />
      </p>

      <p class="text-lg text-gray-800">
        <br />
      </p>

    </div>
  </div>
</BaseLayout>
