---
// src/components/Footer.astro
const year = new Date().getFullYear();
---

<footer class="h-12 my-8 space-y-2 w-auto max-w-full flex flex-col items-center justify-center">
  <a href="/" class="text-gray-500 border-gray-200 hover:border-gray-400 border-b-2">Home</a>
  <span class="text-gray-500">{ year } &copy; nashdev255</span>
</footer>
