---
// src/components/Footer.astro
const year = new Date().getFullYear();
---

<footer class="h-12 w-auto max-w-full flex items-center justify-center">
  <span class="text-gray-500">{ year } &copy; nashdev255</span>
</footer>
