---
// src/components/Header.astro
import "../styles/global.css";
---

<header class="fixed max-w-2xl mx-auto">
  <nav class="m-4">
    <a href="/" class="flex items-center">
    <img
      src="/nash-logo.png"
      alt="Nash Official Logo"
      class="h-12 w-auto max-w-full object-contain"
    />
  </a>
  </nav>
</header>
