---
// src/components/Introduction.astro
import ArrowRight from 'lucide-static/icons/arrow-right.svg';
---

<div class="px-4 py-12">
  <h1 class="text-3xl font-bold">Greetings👋</h1>
  <div class="mt-4 pl-6 space-y-2">

    <p class="text-lg text-gray-800">
      I’m nash, a student from SNCT.<br />
      Do what I want, when I want.
    </p>

    <a href="/about">
      <div class="inline-flex items-center gap-1 text-gray-500">
        <p class="text-lg">about more</p>
        <ArrowRight class="w-5 h-5 align-middle" />
      </div>
    </a>
  </div>

  <nav class="flex mt-4 space-x-4">
    <a href="https://twitter.com/nashdev255">
      <img
        src="/twitter-icon.png"
        alt="Twitter Icon"
        class="size-7"
      >
    </a>
    <a href="https://github.com/nashdev255">
      <img
        src="/github-icon.png"
        alt="GitHub Icon"
        class="size-7"
      >
    </a>
    <a href="https://qiita.com/nashdev255">
      <img
        src="/qiita-icon.png"
        alt="Qiita Icon"
        class="size-7"
      >
    </a>
    <a href="https://www.youtube.com/@nashdev255">
      <img
        src="/youtube-icon.png"
        alt="Youtube Icon"
        class="size-7"
      >
    </a>
  </nav>
</div>
